<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
    <link
        href="https://azurecomcdn.azureedge.net/cvt-6ce4fb2122db3c5c8ff787c6c9f4d1291ae55347930af2c428fc09f6a6dc5b03/images/icon/favicon.ico"
        rel="icon" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="style.css">
    <title>PDFファイル検索 - Azure Cognitive Search</title>
</head>

<body>
    <div id="app" class="container-fluid" v-cloak>
        <div class="row">

            <!-- サイドバー -->
            <nav class="bg-dark text-white min-vh-100 px-3 py-3 col-auto" style="width: 350px">

                <!-- タイトル -->
                <h1 class="text-white h5">
                    <span>PDFファイル検索</span>
                </h1>
                <hr>

                <!-- 検索ボックス -->
                <div>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="bi bi-search"></i>
                        </span>
                        <input v-model="search" class="form-control" placeholder="検索">
                    </div>
                </div>
            </nav>

            <!-- ページ部 -->
            <div class="bg-light col py-3 px-3">

                <!-- 検索結果 -->
                <h2 class="h5">検索結果</h2>
                <div class="card my-3" v-for="doc in docs">
                    <div class="card-header h6">
                        <span>{{doc.blobName}}</span>
                        <span class="ms-1">P{{doc.pageNumber}}</span>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <span v-html="doc.text"></span>
                            <span>(検索スコア: {{Math.round(doc["@search.score"]*100)/100}})</span>
                        </div>
                    </div>
                </div>
                <div v-if="!searching && docs.length == 0">検索結果が見つかりませんでした</div>

                <!-- Loading アイコン -->
                <div class="w-100 mt-3" v-if="searching">
                    <div>
                        <div class="spinner spinner-border text-secondary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="settings.js"></script>
    <script src="script.js"></script>
</body>

</html>